<a href="https://colab.research.google.com/github/blessingaliu/pythonNotes/blob/main/PythonBootcampDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Python Bootcamp Day 2:

Fundamentals of Python with Syntax, User Input and Lists

In [ ]:
# Ask user to enter number, stores the number in a variable, add 2 to that number 
# and then store the result in the same variable and save it to the variable 

number = int(input('Enter a number:'))
number = number + 2
print(number)

Enter a number:8
10

In [ ]:
# User should input name and age, print out users age in Dog years in the following format below
# Hello [name], you are [age in dog years] years old, in Dog years

name = input('Enter your name: ')
age = int(input('Enter your age: '))
dog_years = age / 15

print(f"Hello {name}, you are {dog_years} years old, in Dog years")

Enter your name: blessing
Enter your age: 10
Hello blessing, you are 0.6666666666666666 years old, in Dog years

In [ ]:
# Calculate the area of a football field and its parameter

length_of_field = int(input('Please enter the length: '))
width_of_field = int(input('Please enter the width: '))

calculate_area = length_of_field * width_of_field 
perimeter = (length_of_field*2) + (width_of_field*2)

print(calculate_area)
print(perimeter)

Please enter the length: 10
Please enter the width: 10
100
40

In [ ]:
# Creating a list and printing it 
names = ['David', 'Blessing', 'Sarah', 'Dayo']
print(names)

['David', 'Blessing', 'Sarah', 'Dayo']

In [ ]:
# Copying a list
names_2 = names.copy()
print(names_2)

['David', 'Blessing', 'Sarah', 'Dayo']

In [ ]:
# Counting the number of the specified item in a list
names.count('Blessing')

1

In [ ]:
# Checking the index of the specified item in a list
names.index('David')

0

In [ ]:
# Adding two lists together using extend
names = ['David', 'Blessing', 'Sarah', 'Dayo']
new_elements = ['Bayo', 'James', 'Solomon']
names.extend(new_elements)
print(names)

['David', 'Blessing', 'Sarah', 'Dayo', 'Bayo', 'James', 'Solomon']

In [ ]:
# Adding a new item to the list using append 
names.append('Toye')
print(names)

['David', 'Blessing', 'Sarah', 'Dayo', 'Joe', 'Bayo', 'James', 'Solomon', 'Toye', 'Toye']

In [ ]:
# Inserting a item at a specific index of the list using insert
names.insert(4, 'Joe')
print(names)

['David', 'Blessing', 'Sarah', 'Dayo', 'Joe', 'Joe', 'Bayo', 'James', 'Solomon', 'Toye', 'Toye']

In [ ]:
# Removing an item at a specified index
names = ['David', 'Blessing', 'Sarah', 'Dayo', 'Joe', 'Joe', 'Bayo', 'James', 'Solomon', 'Toye', 'Toye']
names.pop(2)

'Sarah'

In [ ]:
# Removing a specified element from the list
names.remove('Blessing')

In [ ]:
# Clearing the list completely, you will end up with an empty array 
names.clear()
print(names)

[]

In [ ]:
names = ['David', 'Blessing', 'Sarah', 'Dayo']

In [ ]:
# Reversing the list
names.reverse()
print(names)

['Dayo', 'Sarah', 'Blessing', 'David']

In [ ]:
# Sorting the list
names.sort()
print(names)

['Bayo', 'David', 'Dayo', 'James', 'Joe', 'Joe', 'Solomon', 'Toye', 'Toye']