<a href="https://colab.research.google.com/github/blessingaliu/pythonNotes/blob/main/PythonBootcampDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Python Bootcamp Day 3:

Fundamentals of Python with Lists, Tuples and Sets

In [ ]:
# Create a program that takes in two numbers and then outputs the average of the two numbers (use list unpacking)
number_1, number_2 = [1, 2]
print(number_1)
print(number_2)

print ((number_1 + number_2)/2)

1
2
1.5

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

# Modify this line so it prints the last three elements of the list

eclipse_dates[7:]

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [ ]:
# Write a program to allow a user print the number of days in any month of the calendar year
# Calculate the number of days in each quarter (slicing)
# Use functions to make our code more reusable

days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
quarter_1 = days_in_month[0:3]
quarter_2 = days_in_month[3:6]
quarter_3 = days_in_month[6:9]
quarter_4 = days_in_month[9:12]

total_q1 = sum(quarter_1)
total_q2 = sum(quarter_2)
total_q3 = sum(quarter_3)
total_q4 = sum(quarter_4)

print(total_q1)
print(total_q2)
print(total_q3)
print(total_q4)

90
91
92
92

In [ ]:
# Write a program to allow a user print the number of days in any month of the calendar year
# Calculate the number of days in each quarter (slicing)
# Use functions to make our code more reusable

days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
quarter_1 = days_in_month[0:3]
quarter_2 = days_in_month[3:6]
quarter_3 = days_in_month[6:9]
quarter_4 = days_in_month[9:12]

month_1, month_2, month_3 = quarter_1
month_4, month_5, month_6 = quarter_2
month_7, month_8, month_9 = quarter_3
month_10, month_11, month_12 = quarter_4

print(month_1 + month_2 + month_3)
print(month_4 + month_5 + month_6)
print(month_7 + month_8 + month_9)
print(month_10 + month_11 + month_12)

90
91
92
92

In [ ]:
# Use functions to make our code more reusable

days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

def print_sum_of_quarter(days_in_month):
  quarter_1 = days_in_month[0:3]
  quarter_2 = days_in_month[3:6]
  quarter_3 = days_in_month[6:9]
  quarter_4 = days_in_month[9:12]

In [ ]:
# Sets and their methods 
names = {"Blessing", "Blessing", "Joel", "Annie"}
names

{'Annie', 'Blessing', 'Joel'}

In [ ]:
len(names)

3

In [ ]:
names.add('Sharon')
names

{'Annie', 'Blessing', 'Joel', 'Sharon'}

In [ ]:
names.remove('Annie')
names

{'Blessing', 'Joel', 'Sharon'}

In [ ]:
countries = {"Nigeria", "Ghana", "UK", "US"}
names.union(countries)

{'Blessing', 'Ghana', 'Joel', 'Nigeria', 'Sharon', 'UK', 'US'}

In [ ]:
names = {"Blessing", "Ghana", "Joel", "Nigeria"}
names_2 = {"Nigeria", "Ghana", "UK", "US"}
names.intersection_update(names_2)
names

{'Ghana', 'Nigeria'}

In [ ]:
names.pop()

'Nigeria'

In [ ]:
# lists are indexed so they can have items with the same value
my_list = ["jollof_rice", "asaro", "jollof_rice", "chicken", "plantain"]
print(my_list)

['jollof_rice', 'asaro', 'jollof_rice', 'chicken', 'plantain']

In [ ]:
# len() to see how many items a list has
len(my_list)

4

In [ ]:
# Checking the data type
type(my_list)

list

In [ ]:
# Accessing list items 
my_list = ["jollof_rice", "asaro", "jollof_rice", "chicken", "plantain"]
my_list[1], my_list[-1],

('asaro', 'plantain')

In [ ]:
# List slicing and dicing 
# my_list = [start:end:stepsize]
countries = ["Nigeria", "Ghana", "UK", "US"]
countries[1:3]

['Ghana', 'UK']

In [ ]:
# Check if item is present in list
my_list = ["jollof_rice", "asaro", "jollof_rice", "chicken", "plantain"]
if "chicken" in my_list:
  print("Yes, chicken is in this list")

Yes, chicken is in this list

In [ ]:
# Remove item from list
another_list = ["dresses", "skirts", "trousers", "shoes"]
another_list.remove("shoes")
print(another_list)

['dresses', 'skirts', 'trousers']

In [ ]:
# Remove item from list at a specified index
another_list.pop(1)
print(another_list)

['dresses', 'trousers']

In [ ]:
# If index is not specified then remove it from the last index
another_list.pop()
print(another_list)

['dresses']

In [ ]:
# Delete item using del
another_list = ["dresses", "skirts", "trousers", "shoes"]
del another_list[0]
print(another_list)

['skirts', 'trousers', 'shoes']

In [ ]:
# Deleting the enter list 
del another_list
print(another_list)

NameError: ignored

In [ ]:
# Sorting numerical items in ascending order using sort
age = [12, 4, 5, 2, 5]
age.sort()
print(age)

[2, 4, 5, 5, 12]

In [ ]:
# Sorting items using sort
names = ["Johnny", "Becky", "Amanda", "Zion"]
names.sort()
print(names)

['Amanda', 'Becky', 'Johnny', 'Zion']

In [ ]:
# Sorting numerical items in descending order using sort(reverse = True)
age = [12, 4, 5, 2, 5]
age.sort(reverse = True)
print(age)

[12, 5, 5, 4, 2]

In [ ]:
# Copying list
age = [12, 4, 5, 2, 5]
new_ages = age.copy()
print(new_ages)

[12, 4, 5, 2, 5]

In [ ]:
# Copying list using list
age = [12, 4, 5, 2, 5]
another_age_list = list(age)
print(another_age_list)

[12, 4, 5, 2, 5]

In [1]:
# Adding two lists using +
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Adding two lists using extend
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Changing tuple to list to modify it and then back to a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
type(thistuple)

tuple

In [ ]:
# Adding two tuples together
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Packing and unpacking tuple
new_tuple = ('kia', 'lexus', 3, True)
car, another_car, number, boolean = new_tuple
print(car)
print(another_car)
print(number)
print(boolean)

kia
lexus
3
True

In [ ]:
# Count for tuple
my_tuple = (1, 0, 5, 8, 5, 3, 2, 4)
number = my_tuple.count(5)
print(number)

2

In [ ]:
# Insert for tuple
my_tuple = (1, 0, 5, 8, 5, 3, 2, 4)
number = my_tuple.index(8)
print(number)

3

In [ ]:
# Checking if item is in tuple
my_set = {"jollof_rice", "asaro", "jollof_rice", "chicken", "plantain"}
for chicken in my_set:
  print(chicken)

jollof_rice
plantain
chicken
asaro